.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  text-align: left;
  padding-right: 1rem;
  padding-left: 1rem;
}

.subtitle {
  font-size: 1.1rem;
  margin-top: -1rem;
  font-style: italic;
}

.posts {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.item {
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.date {
  color: #777;
  font-size: 0.9rem;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.date abbr {
  border-bottom: none;
  cursor: help !important;
  text-decoration: none;
}
